{% extends "base.html" %}

{% block content %}
    {{ msg }}
    <form action="/getTopScorers" method="GET">
        <a href="/">Main Menu</a><br>
        <select name="name">
            {% for row in chart %}
                {% if selected_season == season.value %}
                <option selected value="{{ season.value }}">{{ season.name }}</option>
                {% else %}
                <option value="{{ season.value }}">{{ season.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Show chart" />
    </form>
    <div id="myDiv"></div>
{% endblock %}

