{% extends "base.html" %}

{% block content %}
    <h1>Main Menu</h1>
    {% if msg %}
   		<div id="menumsg">
    		{{ msg}}
   		 </div>		
         
        <a href="getPlayer">Search a Player Name</a><br>
        <a href="getTopScorers">Top Scorers for a Given Season</a><br>
        <a href="getTeamShootingPct">Shooting % of Every Team in a Season</a><br>
        <a href="getPlayerChart">Player's Shooting Chart for a Season</a><br>
        <a href="getAdvstats">Advanced Team Statistics</a><br>
    {% endif %}
    
    
{% endblock %}