{% extends "base.html" %}

{% block content %}
    <h1>Main Menu</h1>
    {% if msg %}
   		<div id="menumsg">
    		{{ msg}}
   		 </div>		
         
        <a href="selectPlayer">Search a Player Name</a><br>
        <a href="selectSeason">Top Scorers for a Given Season</a><br>
        <a href="selectSeason2">Shooting % of Every Team in a Season</a><br>
        <a href="selectPlayerSeason">Player's Shooting Chart for a Season</a><br>
        <a href="selectTeamSeason">Advanced Team Statistics</a><br>
    {% endif %}
    
    
{% endblock %}